{% extends 'dashboard/base.html' %}
{% load bootstrap3 %}

{% block content %}

<hr></hr>

<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Scan">Scan</a></li>
    <li><a data-toggle="tab" href="#Plan">Plan</a></li>
    <li><a data-toggle="tab" href="#Scan_History">Scan History</a></li>
  </ul>

  <div class="tab-content">
    <div id="Scan" class="tab-pane fade in active">
    </div>
    <div id="Plan" class="tab-pane fade">
    </div>
    <div id="Scan_History" class="tab-pane fade">

      <div class="table-responsive">
        <table class="table table-bordered">

          <thead>
            <tr>
              <th>#</th>
              <th>Action</th>
              <th>Plan Name</th>
              <th>Attack Point</th>
              <th>Plan Type</th>
              <th>State</th>
              <th>Date</th>
            </tr>
          </thead>

          <tbody>
          </tbody>

        </table>
      </div>

    </div>
  </div>

</div>

{% endblock %}
