{% load bootstrap3 %}

<style>
body {
    padding: 10px;
}

#exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
<script type="text/javascript">
$(document).ready(function() {
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});
});
function callPlanList() {
    var plan_name   = document.getElementById("plan_name").value;
    var description = document.getElementById("plan_description").value;
    var selection   = $("input:checkbox[id=plan_set]:checked").map(function(){ return $(this).val() }).get()
    var tool_set    = Array()
    for (var item=0; item < selection.length; item++) {
        tool_set.push({ "module": selection[item] });
    }
    var json        = {"name":plan_name,"description": description,"tool_set":tool_set};
    
    $.ajax({
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(json),
        dataType: 'json',
        url: "{% url 'scans:plan_list' %}",
        success: function(response) { return True; }
    });
}
</script>

<hr></hr>
<div class="container"><h2>Example tab 2 (suing standard nav-tabs)</h2></div>

<div id="exTab2" class="container">
    <ul class="nav nav-tabs">
        <li><a href="#1" data-toggle="tab">Overview</a>
        </li>
        <li><a href="#2" data-toggle="tab">Sites & Scans</a>
        </li>
        <li class="active">
            <li><a href="#3" data-toggle="tab">Plugin & Plans</a>
            </li>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="1">
            <h3>Standard tab panel created on bootstrap using nav-tabs</h3>
        </div>
        <div class="tab-pane" id="2">
            <h3>Run a quick website scan using selected tools.</h3>
            <script>
                $(document).ready(function() {
                    $('#sitesAndScans').load('{% url 'scans:index' %}');
                });
            </script>
            <div id="sitesAndScans"></div>
        </div>
        <div class="tab-pane active" id="3">
            <h3>Setup and save scan plans.</h3>
            <form class="form-horizontal" id="plan">
                <div class="form-group">
                    <label for="plan_name">Scan name:</label>
                    <input id="plan_name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="plan_description">Scan description:</label>
                    <input id="plan_description" type="text" class="form-control">
                </div>
                {% for tool in tool_set %}
                    <label class="checkbox-inline"><input type="checkbox" id="plan_set" value="{{ tool.0 }}">{{ tool.1 }}</label>
                {% endfor %}              
                <button type="submit" onclick="callPlanList()" class="btn btn-default">Submit</button>
            </form> 

            <p>X-editable::In-place editing</p>
            <table class="table table-hover table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created</th>
                    </tr>
                </thead>
                {% for plan in plans %}
                    <!-- Different users will have different primary keys for their Plan model. -->
                    <tr id="{{ plan.id }}">
                        <td class="edit">{{ plan.name }}</td>
                        <td class="edit">{{ plan.description }}</td>
                        <td class="edit">{{ plan.created }}</td>
                        <td>
                            <ul id="tools-{{ forloop.counter0 }}">
                                {% for tool in plan.tool_set.all %}
                                    <li>{{ tool.module }}</li>
                                {% endfor %}
                            </ul>
                            <form>
                                <select id="select-{{ forloop.counter0 }}">
                                    {% for tool in tool_set %}
                                        <option value="{{ tool.0 }}">{{ tool.1 }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>

<hr></hr>

<!-- Bootstrap core JavaScript
    ========================== -->
    <!-- Place at the end of the document so the pages load faster -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://www.appelsiini.net/projects/jeditable/jquery.jeditable.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$('.edit').editable(function(value, settings) {
    console.log(this);
    console.log(value);
    console.log(settings);
    return(value);
    }, {
       type : 'textarea',
       submit : 'OK',
});


    $('#select-10').on('change', function() {
        var listvalue = $('#select-10').val();
        $('#tools-10').append('<li>' +  {{ listvalue|safe }} + '</li>');
    });
for(var ultools = 0; ultools < {{ plans|length }}; ultools++) {


    $('#tools-' + ultools).on('click', 'li', function(e) {
        $(this).remove();
    });
}

</script>
