{% extends 'registration/base.html' %}
{% load bootstrap3 %}

{% load static %}

{% block content %}

<!-- Custom style for this template. -->
<link href="{% static 'css/signin.css' %}" rel="stylesheet">


{% if form.errors %}
    <ul class="errorlist">
        <li>You have entered invalid credentials.</li>
    </ul>
    <br />
{% endif %}



<div class="container">

  <form class="form-signin" method="post" action={% url 'accounts:login' %}>
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    {% bootstrap_form form %}
    {% buttons %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

</div> <!-- /container -->


{% endblock %}
