{% extends 'scans/base.html' %}
{% load bootstrap3 %}

{% load static %}

{% block content %}

<script src="{% static 'js/scans_detail.js' %}" type="application/javascript"></script>

<!-- Hidden Input for Scan Primary Key -->
<input type="hidden" name="pk" value="{{ scan.pk }}" readonly>

<!-- Container for a single scan summary. -->
<div class="container">
  

  <div class="table-responsive"> <!--Scroll horizontally on small devices. -->
    <!-- Table title -->
    <p class="h5" style="float:left;">Summary</p>

    <table class="table table-bordered table-hover">

      <thead>
        <tr>  
          <th>Plan Name</th>
          <th>Plan Description</th>
          <th>Target</th>
          <th>Started</th>
          <th>State</th>
        </tr>
      </thead>
 
      <tbody>
        <tr> 
          <td>{{ scan.plan.name }}</td>
          <td>{{ scan.plan.description }}</td>
          <td>{{ scan.uniform_resource_locator }}</td>
          <td>{{ scan.date }}</td>
          <td>{{ scan_state }}</td>
        </tr>
      </tbody>

    </table>

    <a href="{% url 'plans:plans-list' %}" style="float:right;">
      <span class="glyphicon glyphicon-shopping-cart"></span>
      Manage Plans
    </a>

  </div>


</div>

<!-- Container for tools data -->
<div class="container">
  <div class="table-responsive"> <!--Scroll through tools table -->
    <!-- Table title -->
    <p class="h5" style="float:left;">Results</p>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Tool</th>
          <th>Files</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>    

      <tbody>
        {% for tool in tools %}
          {% ifchanged %}
            <tr>
              <td>{{ tool.name }}</td>
              <td>
                {% for output in tool.files %}
                  <strong>{{ output.report }}</strong>
                {% endfor %}
              </td>
              <td>{{ tool.state }}</td>
              <td> 
                {% for output in tool.files %}
                  <input type="checkbox" value={{ output.report }}>
                {% endfor %}
              </td>
            </tr>
          {% endifchanged %}
        {% endfor %}
      </tbody>  
    </table>

  </div>

  <hr>

  <!-- Download selected files in a zip -->
  <button type="button" class="btn btn-default btn-sm" onclick=download("{% url 'uploads:deliver' %}")  style="float:left;">
    <span class="glyphicon glyphicon-cloud-download"></span> Download
  </button>

  <!-- Upload selected files to ThreadFix -->
  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" style="float:left; margin-left: 10px">
    <span class="glyphicon glyphicon-new-window"></span> Upload
  </button>

  <br />
  <br />

  <!-- Alert user of upload response -->
  <div class="alert alert-success" id="upload-response" hidden="true">
    <button type="button" class="close" data-dismiss="alert">X</button>
      <!-- API callback inserts response message here! -->
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
  <form method='POST' action="javascript:void(0);">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Upload To ThreadFix Application</h4>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            <button type="submit" class="btn btn-primary" onclick=upload("{% url 'uploads:upload-list' %}")>
              <span class="glyphicon glyphicon-cloud-upload"></span> Submit
            </button>
          {% endbuttons %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
