{% extends 'scans/base.html' %}
{% load bootstrap3 %}

{% load static %}

{% block content %}

<script src="{% static 'js/scans_views.js' %}" type="text/javascript"></script>

<!-- Container to hold the URL input field -->
<div class="container">

  <form role="form" data-toggle="validator">
    <div class="form-group has-feedback">
      <label for="target" class="control-label">Target URL:</label>
      <input id="uniform_resource_locator" type="url" class="form-control" id="target" required>
    </div>
  </form>

</div>


<!-- Container for Plan View table -->
<div class="container">
  <!-- Table's title -->  
  <p class="h5" style="float:left;">Selected Plans</p>

  <!-- Table to view and launch a scan -->
  <table id="selected" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Action</th>
        <th>Plan Name</th>
        <th>Tools</th>
      </tr>
    </thead>
    <tbody>
      {% for plan in plans %}
        {% ifchanged %}
          <tr>
            <!-- 1. # -->
            <td>{{ forloop.counter }}</td>
            <!-- 2. Action -->
            <td> 
              <div class="btn-group">
                <button type="button" class="btn btn-danger">Action</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span> 
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a id="{{ plan.pk }}" onclick="launch(this)">Launch Plan for Target URL</a></li>
                </ul>
              </div>
            </td>
              
            <!-- 3. Plan Name -->
            <td>{{ plan.name }}</td>

            <!-- 4. The set of tools assigned to this plan. (Tools) -->
            <td>
              <ul>
                {% for tool in plan.tool_set.all %}
                  <li>{{ tool.name }}</li>
                {% endfor %}
              </ul>
            </td>

          </tr> 
        {% endifchanged %}
      {% endfor %}
  </table>
  <!-- End of class for responsive table -->

  <a href="{% url 'plans:plans-list' %}" style="float:right;">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    Manage Plan(s)
  </a> 
</div>

<br />
<hr>


<!-- Container to temporarily hold scan status report -->
<div class="container">
  <!-- Table's title -->  
  <p class="h5" style="float:left;">Running Plans</p>

  <!-- Display recently launch plan's metadata. -->
  <table id="ongoing" class="table table-hover table-bordered">

    <thead>
      <tr>
        <th>Plan Information</th> 
        <th>Status</th>
      </tr>
    </thead>
     
   <tbody> 
     <!-- Use an API to GET scans that are only t time old
       1  1 Call Scan List API /scans/list/ with 'recent' in request. Call Scan List API /scans/list/ with 'recent' in request.
      --> 
   </tbody>
  </table>

  <a href="{% url 'scans:scan-history' %}" style="float:right;">
    <span class="glyphicon glyphicon-book"></span>
    Scan History
  </a> 

</div>

{% endblock %}





