{% extends 'scans/base.html' %}
{% load bootstrap3 %}
{% load static %}

{%  block content %}

<script src="{% static 'js/plan_views.js' %}" type="text/javascript"></script>

<div class="container">

  <!-- Allow a user to search any column based on keywords -->
  <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What are you looking for?">
  </div>  
  <span class="counter pull-right"></span>

  <!-- Table to display Plan dynamically updates on changes -->
  <div class="table-responsive">
    <table class="table table-hover table-bordered results">
      <thead>
        <tr>
          <th>#</th>
          <th>Action</th>
          <th>Plan Name</th>
          <th>Plan Description</th>
          <th>Created On</th>
          <th>Tools</th>
        </tr>

        <!-- If there are no search results, display a warning! -->
        <tr class="warning no-result">
          <td colspan="6"><i class="fa fa-warning"></i> No result</td>
        </tr>        

      </thead>

      <tbody>
        {% for plan in plans %}
          {% ifchanged %}
          <tr>
            <!-- # -->
            <td>{{ forloop.counter }}</td>

            <!-- Action -->
            <td> 
              <div class="btn-group">
                <button type="button" class="btn btn-danger">Action</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span> 
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a id="add" onclick=select(this,"{% url 'plans:select' plan.pk %}")>Add Plan to Scan Page</a></li>
                  <li><a id="remove" onclick=select(this,"{% url 'plans:select' plan.pk %}")>Remove Plan from Scan Page</a></li>
                  <li class="divider"></li>
                    <!-- Opens the model's dialog box with prepopulated fields for a user to edit and save. -->
                  <li><a onclick=update("{% url 'plans:plans-edit' plan.pk %}")>Update</a></li> 
                    <!-- Removes the Plan object from DB and removes the corresponding table row -->
                  <li><a onclick=remove(this,"{% url 'plans:plans-delete' plan.pk %}")>Delete</a></li> 
                </ul>
              </div>
            </td>
              
            <!-- Plan Name -->
            <td>{{ plan.name }}</td>

            <!-- Plan Description -->
            <td>{{ plan.description }}</td>

            <!-- The time which the current user created the plan. -->
            <td>{{ plan.created }}</td>

            <!-- The set of tools assigned to this plan. (Tools) -->
            <td>
              <ul>
                {% for tool in plan.tool_set.all %}
                  <li>{{ tool.name }}</li>
                {% endfor %}
              </ul>
            </td>

          </tr> 
          {% endifchanged %}
        {% endfor %}
    </table>
  </div>
    
  <!-- Redirect to Scan Page -->
  <a href="{% url 'scans:ScanList' %}">
    <span class="glyphicon glyphicon-plane" class="btn btn-default"></span>
    To Scan Page
  </a>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="float: right;" onclick=create("{% url 'plans:plans-new' %}")>
    + Plan
  </button>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Configure Plan Model</h4>
      </div>
      <div class="modal-body" id="planConfiguration">
      </div>
    </div>
  </div>
</div>


<!-- Alerts users that a Plan has successfully been added to the Scan Page -->
<div class="alert alert-success" id="success-alert" hidden="true">
  <button type="button" class="close" data-dismiss="alert">X</button>
    <center><strong>Successfully processed selection!</strong></center>
</div>

{% endblock %}
